<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пример веб-приложения на Flask</title>
    <style>
        body {
            background-color: black;
            color:white;
            font-family: cursive;
        }
        .box {
          display: flex;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Моя Библиотека</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Главная <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/books">Книги</a>
            </li>
          </ul>
        </div>
      </nav>
    <h2>Приветствую вас в моем порфтолио</h2>
    <h5>Это веб-приложение создано с целью демонстрации навыков. <p>Оно сохраняет в бд данные со стороннего специально предназначенного для этого портала, используя анализ html-тегов.</p> </h5>
    <div class="box">
      <div>One</div>
      <div>Two</div>
      <div>Three
        <br>has
        <br>extra
        <br>text
      </div>
    </div>
</body>
</html>
